# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtualenv
venv/
.env
.env.*
!.env.example

# Django
db.sqlite3
media/
staticfiles/
*.sqlite3

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node (si jamais)
node_modules/